.about-section{
    @media screen and (min-width:768px){
        display:flex;
    }
    &__text{
        @media screen and (min-width:768px){
            margin-right:40px;
        }
    }
    &__title{
    font-weight: 700;
    font-size: 32px;
    line-height: 1.18;
    color:var(--color-of-link-light-theme);
    text-align: center;
    margin-bottom:24px;
    }
    &__descr{
        color:var(--secondary-p-color);
        margin-bottom:94px;
    }
    &__link{
        font-size: 16px;
        color:var(--color-of-link-light-theme);
        margin-bottom:51px;
    }
    &__img{
        @media screen and (max-width:767px){
            width:360px;
        }
         @media screen and (min-width:768px){
            width:384px;
        }
         @media screen and (min-width:1440px){
            width:720px;
        }

    }
}