.contact-form__section {
    background-color: var(--main-bgr-color);
}
.form__text {
    margin-bottom: 48px;
    font-family: 'Sen';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    align-items: center;
    color: var(--primary-p-color);
}
.form__slogan {
    margin-bottom: 16px;
    
    font-family: 'Sen';
    font-weight: 700;
    font-size: 32px;
    line-height: 1.19;
    align-items: center;
    color: #FFFFFF;
}
.contact__label {
    margin-bottom: 8px;

    font-family: 'Sen';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-of-link-dark-theme);
}
.contact__button {
    display: block;
    padding: 24px 73px;
    background-color: var(--btn-color);

    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #FFFFFF;;
       
}
.contact__input {
    margin-bottom: 40px;
    border: none;
    outline: none;
    display: block;
    min-height: 50px;
    background-color: var(--input-color);
}

@media screen and (min-width: 360px) {
    .contact__input {
        width: 320px;
    }
    .contact__button {
        width: 320px;

    }
    
}