.contact-form__section {
    background-color: var(--main-bgr-color);
}
.form__text {
    font-family: 'Sen';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    align-items: center;
    color: var(--primary-p-color);
}
.form__slogan {
    
    font-family: 'Sen';
    font-weight: 700;
    font-size: 32px;
    line-height: 1.19;
    align-items: center;
    color: #FFFFFF;
}
.contact__label {
    font-family: 'Sen';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-of-link-dark-theme);
}
.contact__button {
    display: block;
    padding: 24px 73.5px;
    background-color: var(--btn-color);
}