// Feedback

.feedback-section {
    color: var(--title-color);

    &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.18;
    }

}

.feedback {
    

&__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

&__item {
    padding-bottom: 48px;
    color: var(--title-color)
}

&__text {
    outline: 2px solid blue;
}

}