<section class="container about-section">
    <div class="about-section__text">
        <h2 class="about-section__title">Philosophy & values</h2>
    <p class="about-section__descr">I think everyone wants the same thing - relationship with humanity, peace with the metaphysical, and experience with the universe. I try to grasp these things with my values: authenticity, creativity, & hospitality.</p>
    <a class="about-section__link" href="#">More about me</a>
    </div>
    <img class="about-section__img" src="./images/Rectangle 39.jpg" alt="The hand holding a layer" width="720" height="600">
</section>