<section class="container about-section">
    <div class="about-section__text">
        <h2 class="about-section__title">Philosophy & values</h2>
    <p class="about-section__descr">I think everyone wants the same thing - relationship with humanity, peace with the metaphysical, and experience with the universe. I try to grasp these things with my values: authenticity, creativity, & hospitality.</p>
    <a class="about-section__link" href="#">More about me</a>
    </div>
    <picture class="about-section__img">
        <source  srcset="./images/about-m.jpg 1x,./images/about-m@2x.jpg 2x" media="(max-width=767px)" >
        <source  srcset="./images/about-t.jpg 1x,./images/about-t@2x.jpg 2x" media="(min-width=768px)" >
        <source  srcset="./images/about-d.jpg 1x,./images/about-d@2x.jpg 2x" media="(min-width=1440px)" >
        <img  src="./images/about-d.jpg" alt="The hand holding a layer" >
    </picture>
    
</section>