<section class="section contact-form__section">
    <div class="container form__container">
        <div class="contact__description">
            <h2 class="form__slogan">
                Let’s get started
            </h2>
            <p class="form__text">
                Now that you know a lot about me, let me know if you are interested to work with me.
            </p>
        </div>
        
        <form action="" class="contact__form">
            <label class="contact__label" for="name">
                Name
            </label>
            <input class="contact__input" type="text" name="name" id="name" />
            <label class="contact__label" for="email">
                Email
            </label>
            <input class="contact__input" type="email" name="email" id="emai" />
            <label class="contact__label" for="message">Message</label>
            <input class="contact__input contact__input--message" type="text" name="message" id="message" />
        
            <button class="contact__button" type="submit">
                Let’s get started
            </button>
        </form>
    </div>
</section>