<h2>
    Let’s get started
</h2>
<p>
    Now that you know a lot about me, let me know if you are interested to work with me.
</p>
<form action="">
    <label for="name">
        Name
    </label>
    <input type="text" name="name" id="name"/>
    <label for="email">
        Email
    </label>
    <input type="email" name="email" id="emai"/>
    <label for="message">Message</label>
    <input type="text" name="message" id="message"/>

    <button type="submit">
        Let’s get started
    </button>
</form>