<section class="section">
    <div class="feedback-section">
        <h2 class="feedback-section__title">This is what people say about me</h2>
        <p class="feedback-section__text">Here are a few lines from people who I have worked with over the past 8+ years in my design career.</p>
        <a href="#">See all testimonials</a>
    </div>
    <div class="feedback">
        <ul class="feedback__box">
            <li class="feedback__item">
                <img src="./images/smartphone-and-comp.jpg" alt="Smartphone and computer" width="332">
                <p class="feedback__text">‘Robin is one of the best designers I have worked with in my entire life. He is a designer who is
                    very capable of
                    taking up complex projects and delivers impeccable design.’’</p>
                <p>Richard Owens</p>
                <p>CEO, Company 1</p>
            </li>
            <li class="feedback__item">
                <img src="./images/teamlid-and-team.jpg" alt="teamlid and team" width="332">
                <p class="feedback__text">‘’I think Robin has an incredible gift. It has been an absolute pleasure to work with a designer of
                    this caliber.’’</p>
                <p>Emily Parker</p>
                <p>CEO, Company 2</p>
            </li>
            <li class="feedback__item">
                <img src="./images/team.jpg" alt="team" width="332">
                <p class="feedback__text">‘’All I can say that, Robin is a phenomenal designer. The wavelength at which he thinks is
                    astoundaing. I love the
                    focus, passion and attention to detial in the design.’’</p>
                <p>Vincent Rudd</p>
                <p>CEO, Company 1</p>
            </li>
        </ul>
    </div>
</section>    


