<footer class="footer">
  <div class="container">
    <div class="container__leftside">
      <a href="#" class="footer_logo-link">
        <svg class="footer__logo">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
      </a>

      <ul class="socialset">
        <li class="socialset__item">
          <a href="#" class="socialset__link">
            <svg class="socialset__icon">
              <use href="./images/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="socialset__item">
          <a href="#" class="socialset__link">
            <svg class="socialset__icon">
              <use href="./images/icons.svg#icon-ball"></use>
            </svg>
          </a>
        </li>
        <li class="socialset__item">
          <a href="#" class="socialset__link">
            <svg class="socialset__icon">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="container__nav">
      <ul class="container__leftmenu">
        <li class="container__leftitem">
          <a href="#" class="container__leftlink">Home</a>
        </li>
        <li class="container__leftitem">
          <a href="#" class="container__leftlink">About</a>
        </li>
        <li class="container__leftitem">
          <a href="#" class="container__leftlink">Work</a>
        </li>
        <li class="container__leftitem">
          <a href="#" class="container__leftlink">Process</a>
        </li>
      </ul>

      <ul class="container__rightmenu">
        <li class="container__rightitem">
          <a href="#" class="container__rightlink">Store</a>
        </li>
        <li class="container__rightitem">
          <a href="#" class="container__rightlink">Blog</a>
        </li>
        <li class="container__rightitem">
          <a href="#" class="container__rightlink">Reading List</a>
        </li>
      </ul>
    </div>
    <p class="copyright">
      Not Copyright 2020 • Robin Williams. Webflow cloneable
    </p>
  </div>
</footer>
