<header class="header">
      <div class="container">
        <nav class="nav">
          <a href="./index.html" class="logo"><span>Logo</a>
          <ul class="nav__list">
            <li class="nav__item">
              <a class="nav__link" href="#">Experience</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#">Work</a>
            </li>
            <li class="nav__item"><a class="nav__link" href="#">Photography</a></li>
            <li class="nav__item"><a class="nav__link" href="#">Contact</a></li>
          </ul>
        </nav>
      </div>
</header>
