<header class="header">
  <div class="container">
    <nav class="nav">

      <a href="./index.html" class="logo">
        <svg class="icon-logo" widht="78" height="24">
          <use href="./sprait.svg#icon-logo"></use>
        </svg>

      <a href="./index.html" class="logo">Logo


      </a>
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="#">Experience</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Work</a>
        </li>
        <li class="nav__item"><a class="nav__link" href="#">Photography</a></li>
        <li class="nav__item"><a class="nav__link" href="#">Contact</a></li>
      </ul>
      <!-- <button type="button" class="menu-open-btn">
        <svg class="icon-burger" width="24" height="24">
          <use href="./images/icons.svg#icon-burger"></use>
        </svg>
      </button> -->


      <!-- Mobile menu -->

      <!-- <div class="mod-menu is-hidden">
        <button type="button" class="menu-close-btn">
          <svg width="14" height="14">
            <use href="./images/icons.svg#icon-close"></use>
          </svg>
        </button>
        <ul class="mob-menu__list">
          <li class="mob-menu__item">
            <a class="mob-menu__link" href="#">Experience</a>
          </li>
          <li class="mob-menu__item">
            <a class="mob-menu__link" href="#">Work</a>
          </li>
          <li class="mob-menu__item">
            <a class="mob-menu__link" href="#">Photography</a>
          </li>
          <li class="mob-menu__item">
            <a class="mob-menu__link" href="#">Contact</a>
          </li>
        </ul>
      </div> -->
    </nav>
  </div>
</header>