<section class="hero section">
  <div class="hero__image">
    <img src="./images/hero-d.jpg" alt="my photo" width="360" />
  </div>
  <div class="hero__descr">
    <h1 class="hero__title">
      I’m Robin Williams. A Product Designer
      <span class="hero__title--accent">based in Italy.</span>
    </h1>
    <p class="hero__text">
      I’m probably the most passionate designer you will ever get to work with.
      If you have a great project that needs some amazing skills, I’m your guy.
    </p>
  </div>
</section>