<section class="section">
  <div>
    <h2>Photography</h2>
    <p>
      Here is a collection of my best travel pictures that I took while
      travelling places all around the world.
    </p>
    <div>
      <ul>
        <li><a href="#">ITALY</a></li>
        <li><a href="#">AUSTRALIA</a></li>
        <li><a href="#">INDIA</a></li>
        <li><a href="#">BRAZIL</a></li>
      </ul>
    </div>
    <div>
      <ul>
        <li><img src="./images/travel1-d.jpg" alt="street" /></li>
        <li><img src="./images/travel2-d.jpg" alt="bout" /></li>
        <li><img src="./images/travel3-d.jpg" alt="cafe" /></li>
        <li><img src="./images/travel4-d.jpg" alt="mountins" /></li>
      </ul>
    </div>
  </div>
</section>
