<section>
  <div>
    <h2>Photography</h2>
    <p>
      Here is a collection of my best travel pictures that I took while
      travelling places all around the world.
    </p>
    <div>
      <ul>
        <li><a href="#">ITALY</a></li>
        <li><a href="#">AUSTRALIA</a></li>
        <li><a href="#">INDIA</a></li>
        <li><a href="#">BRAZIL</a></li>
      </ul>
    </div>
    <div>
      <ul>
        <li><img src="../images/street.jpg" alt="street" /></li>
        <li><img src="../images/bout.jpg" alt="bout" /></li>
        <li><img src="../images/cafe.jpg" alt="cafe" /></li>
        <li><img src="../images/mountins.jpg" alt="mountins" /></li>
      </ul>
    </div>
  </div>
</section>
