<section class="project">
    <h2 class="project__title">MY PROJECTS</h2>
    <p class="project__text">Work that I’ve done for the past 8 years</p>

    <ul class="project__list">
        <li class="project__item">
            <img class="project__img" src="./images/Projects/project-1-mob.jpg" alt="PC">
                <div class="project__box">
                    <h3 class="project__sub-title">Restaurant Website Design</h3>
                    <p class="project__item-text">I worked with the guys at CBRE to redesign their entire website and mobile app fro both Android and iOS. This project
                    lasted for 4 months and was a very challenging one.</p>
                </div>

        </li>

        <li class="project__item">
            <img class="project__img" src="./images/Projects/project-2-mob.jpg" alt="Mobile">
                <div class="project__box">
                    <h3 class="project__sub-title">Restaurant Website Design</h3>
                    <p class="project__item-text">I worked with the guys at CBRE to redesign their entire website and mobile app fro
                        both Android and iOS. This project
                        lasted for 4 months and was a very challenging one.</p>
                </div>
        </li>

        <li class="project__item">
            <img class="project__img" src="./images/Projects/project-3-mob.jpg" alt="Mobile in hand">
                <div class="project__box">
                    <h3 class="project__sub-title">Restaurant Website Design</h3>
                    <p class="project__item-text">I worked with the guys at CBRE to redesign their entire website and mobile app fro
                        both Android and iOS. This project
                        lasted for 4 months and was a very challenging one.</p>
                </div>
        </li>  

        <li class="project__item">
            <img class="project__img" src="./images/Projects/project-4-mob.jpg" alt="Design">
                <div class="project__box">
                    <h3 class="project__sub-title">Restaurant Website Design</h3>
                    <p class="project__item-text">I worked with the guys at CBRE to redesign their entire website and mobile app fro
                        both Android and iOS. This project
                        lasted for 4 months and was a very challenging one.</p>
                </div>
        </li>      
    </ul>



</section>