<section>
    <div class="skill-set container">
        <div class="skill-set__maintitle">
            <h2 class="skill-set__title">Skillset</h2>
            <p class="skill-set__text">With skills in over 4 different fields of design, I am the perfect person to hire
                when it comes to a full fledged
                project. Whatever your needs are, I can pretty much take on any challenge.</p>
        </div>
        <div class="variants skill-set__variants">
            <ul class="variant__list">
                <li class="skill variants__skill">
                    <svg class="skill_icon">
                        <use class="icon__img" href="/src/sprait.svg#icon-product" height="25px" weigth="32px"></use>
                    </svg>
                    <h3 class="skill__title">Product Design</h3>
                    <p class="skill__description">Working at Facebook has taught me a lot about how to understand users,
                        solve problems and build great products.</p>
                </li>
                <li class="skill variants__skill">
                    <svg class="skill_icon">
                        <use class="icon__img" href="/src/sprait.svg#icon-visual" height="25px" weigth="32px"></use>
                    </svg>
                    <h3 class="skill__title">Visual Design</h3>
                    <p class="skill__description">My experience at dribbble has helped me learn to develop the eye for
                        design. Colors, typography, layout and the whole
                        package.</p>
                </li>
                <li class="skill variants__skill">
                    <svg class="skill_icon">
                        <use class="icon__img" href="/src/sprait.svg#icon-motion" height="25px" weigth="32px"></use>
                    </svg>
                    <h3 class="skill__title">Motion Design</h3>
                    <p class="skill__description">I started my design journey with motion design in my college days.
                        Motion is something that really fascinates me because
                        of the flexibility of story telling.</p>
                </li>
                <li class="skill variants__skill">
                    <svg class="skill_icon">
                        <use class="icon__img" href="/src/sprait.svg#icon-photography" height="25px" weigth="32px">
                        </use>
                    </svg>
                    <h3 class="skill__title">Photography</h3>
                    <p class="skill__description">Clicking pictures really brings out the creative in me. Phtography
                        really makes you look and percieve things in a
                        different way.</p>
                </li>
            </ul>
        </div>
    </div>
</section>