:root {
  --main-bgr-color: #000000;
  --secondary-bgr-color: #fff3e4;
  --title-color: #ffffff;
  --primary-p-color: #8491a0;
  --secondary-p-color: #5b6876;
  --color-of-link-dark-theme: #ffffff;
  --color-of-link-light-theme: #181823;
  --input-color: #181823;
  --footer-bgr-color: #181823;
  --active-color: #5221e6;
  --btn-color: #5221e6;
  --green-accent: #3cc74e;
  --blue-accent: #609bff;
  --pink-accent: #e95d90;
}
