:root{
--main-bgr-color:#000;
--secondary-bgr-color:#FFF3E4;
--title-color:#fff;
--primary-p-color:#8491A0;
--secondary-p-color:#5B6876;
--color-of-link-dark-theme:#fff;
--color-of-link-light-theme:#181823;
--input-color:#181823;
--footer-bgr-color:#181823;
--active-color:#5221E6;
--btn-color:#5221E6;
--green-accent:#3CC74E;
--blue-accent:#609BFF;
--pink-accent:#E95D90;
}